body, html {
    height: 100%;
    margin: 0;
  }
  
  #desenvolvimento-aplicativos {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
  }
  
  .aplicativos-content {
    max-width: 900px;
  }

  .aplicativos-content h2 {
    margin-top: 150px;
    margin-bottom: 30px;
    font-size: 40px;
  }

  .aplicativos-content p {
    color: gray;
    font-size: 18px;
  }
  
  .botao_enviar {
    margin-top: 50px;
    margin-bottom: 75px;
  }
  
  #navbar {
    background-image: linear-gradient(to right, #08090F, #252A4C);
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 20px 0;
    justify-content: center;
}