* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.6s ease;
  }
  
  body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    line-height: 1.6;
    
  }
  
  a {
    text-decoration: none;
    color: var(--dark);
  }


  .Menu{
    color: #0F6B79;;
    text-align: right;
    font-size: 24px;
  }
  .SubTitulo-1{
    color: gray;
    font-size: 24px;
    text-align: right;
  }
  
  .container {
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding:0 20px;
  }
  
  .card {
    background-color: #f4f4f4;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-content h3 {
    margin-top: 0;
  }
  
  /* Navbar */

  #navbar {
    background-image: linear-gradient(to right, #08090F, #252A4C);
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 20px 0;
    justify-content: center;
}

#navbar .icon{
    height: 100px;
    margin-top:80px;
}
  
  #navbar.scrolled {
    background-color:#1A2238;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}
  
  
  #navbar .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    flex: 3;
  }

  
  
  #navbar .nav-menu li {
    padding: 0 15px;
    margin: 0 10px ;
  }
  
  #navbar .nav-menu li:last-child {
    padding-right: 0;
  }
  
  #navbar .nav-menu li a {
    color: white;
    transition: color 0.3s ease;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    position: relative;
  }

  #navbar .nav-menu li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #1793A6; 
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  #navbar .nav-menu li a:hover::after {
    visibility: visible;
    width: 100%;
  }
  
  #navbar.scrolled .nav-menu li a {
    color: white;
  }
  
  #navbar.scrolled .nav-menu li a {
    color: white;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .logo-container {
    flex: 1;
  }
  
  .logo {
    height: 45px;
    margin-right: 100px;
  }

  .nav-buttons {
    display: flex;
    gap:30px;
    margin-right: 100px;
  }

  .nav-button2 {
    display: flex;
    margin-left:80px;
  }

  
  .nav-buttons button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  /* Hero */

  #hero {
    padding: 150px 0;
  }
  
  .hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  
  .hero-image {
    margin-right: 20px;
    max-width: 125%;
    height: 400px;
    margin-top: 100px;
  }
  
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    flex: 1;
  }
  
  .hero-title {
    width: 120%;
    font-size: 40px; 
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    text-align: center;


  }
  
  .hero-subtitle {
    font-size: 18px;
    width: 100%;
    color: gray;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 50px;
  }
  
  .hero-button {
    padding: 10px 20px;
    font-size: 15px;
    color: #fff;
    background-color: transparent;
    margin-left: 192px;
    border: solid 1px;
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .hero-button:hover {
    background-color: whitesmoke;
    color:#1A2238;;
  }
  
  @media (max-width: 768px) {
    .hero-container {
      flex-direction: column;
      text-align: center;
    }
  
    .hero-content {
      align-items: center;
    }
  }
  

  /*Sobre mim */

  #about-us{
    background-size: cover;
    background-position: left;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    text-align: center;
  }

  .container-sobre {
    max-width: 975px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .Menu-sobre{
    color: white;;
    text-align: left;
    font-size: 40px;
  }

  .txt-about-us{
    margin-top: 25px;
    margin-bottom: 45px;
    color: gray;
    font-size: 18px;
    text-align: center;
  }

  /* services */

  #services {
    margin-top: 120px;
    padding: 112px 0;
    color: gray;
  }

  #services .row {
    justify-content: space-between;
  }

  #services h2 {
    font-size: 40px;
    margin-bottom: 48px;
    color:white;;
  }

  #services h3 {
    color:white;;
  }

  #services .card {
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 240px;
    margin: 0 auto;
  }

  #services .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  #services .card-content {
    padding: 24px;
  }

  #services .card-content h3 {
    font-size: 17.9px;
    margin-bottom: 16px;
  }

  #services .card-content p {
    font-size: 16px;
    margin-bottom: 24px;
  }

  .card-link {
    display: block;
    width: 120%;
    height: 100%;
    text-decoration: none;
    color: inherit;
  }
  

  /* Projects */
  
  #projects {
    color: gray;;
  }
  
  #projects h2 {
    color: white;
    font-size: 40px;
    margin-bottom: 10px;
  }

  #projects h3 {
    color: white;
  }
  
  #projects .card {
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: solid 2px;
    border-color: #1A2238;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  #projects .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #projects .card-image {
    height: 200px;
    overflow: hidden;
  }
  
  #projects .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  #projects .card:hover .card-image img {
    transform: scale(1.1);
  }
  
  #projects .card-content {
    padding: 24px;
  }
  
  #projects .card-content h3 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  #projects .card-content p {
    font-size: 18px;
    margin-bottom: 24px;
  }
  
  #projects .card-content .botoes {
    font-size: 19.2px;
    padding: 8px 32px;
    background: -webkit-linear-gradient(225deg, #1793A6, #0F6B79,             
    #1A2238) 0% 0% / 300% 600%;
    background-size: 200% auto;
    -webkit-animation: gradient_move 3s ease infinite;
    animation: gradient_move 3s ease infinite;
    border-radius: 5px;
    color:white;
  }
  
  
  /* Contact */
  #contact {
    padding: 96px 0;
  }
  
  #contact .row {
    display: flex;
    align-items: center;
  }
  
  #contact h2 {
    font-size: 40px;
    margin-bottom: 48px;
  }
  
  .form-column {
    width: 500px;
    margin-right: 40px;
  }
  
  .image-column {
    width: 400px;
    height: 400px;
  }
  
  .contact-image {
    width: 70%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    margin-left: 100px;
    margin-top: 75px;
  }
  
  #contact form {
    display: flex;
    flex-direction: column;
  }
  
  #contact form .form-group {
    margin-bottom: 24px;
  }
  
  #contact form .form-group label {
    display: block;
    font-size: 19.2px;
    margin-bottom: 8px;
  }
  
  #contact form .form-group input,
  #contact form .form-group textarea {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border:none;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    resize: vertical;
  }
  
  #contact form .form-group textarea {
    height: 150px;
  }
  
  #contact .send-button {
    width: 40%;
    padding: 12px;
    background-color:transparent;;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: var(--white);
    border-radius: 10px;
    border: solid 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #contact .send-button:hover {
    background-color: whitesmoke;
    color:#1A2238;;
  }

  .error {
    color: red;
    font-size: 14.4px;
    margin-top: 8px;
  }
  
  /* Footer */
  
  #footer {
    background-color: #151525;
    color: var(--white);
    padding: 30px 0;
    font-size: 16px;
  }
  
  #footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  #footer .social-media {
    display: flex;
    gap: 32px;
  }
  
  #footer .social-media a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--white);
    text-decoration: none;
    transition: transform 0.5s;
  }
  
  #footer .social-media a img {
    width: 150px;
    height: 60px;
  }
  
  #footer .social-media a:hover {
    transform: scale(1.3);
  }
  
  @media (max-width: 768px) {
    #footer .container {
      flex-direction: column;
      text-align: center;
    }
    
    #footer .social-media {
      justify-content: center;
      margin-top: 20px;
    }
  }
  
  /* Media Queries */
  
  @media (max-width: 991px) {
    #navbar .nav-menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--white);
      list-style: none;
      padding: 32px;
      transform: translateY(-100%);
      transition: transform 0.3s ease;
    }
  
    #navbar.scrolled .nav-menu {
      transform: translateY(0);
    }
  
    #navbar .nav-menu li {
      padding: 16px 0;
    }
  
    #navbar .nav-menu li:last-child {
      padding-bottom: 0;
    }
  
    #navbar .nav-menu li a {
      color: var(--dark);
    }
  
    #navbar .hamburger-menu {
      display: block;
      color: var(--dark);
      font-size: 32px;
      cursor: pointer;
      transition: color 0.3s ease;
    }
  
    #navbar.scrolled .hamburger-menu {
      color: var(--primary);
    }
  
    #hero {
      height: auto;
      padding: 96px 0;
    }
  
    #projects .card {
      margin-bottom: 48px;
    }
  }
  
  .nav-menu-shortcut {
    display: none;
  }
  
  @media (max-width: 768px) {
    .nav-menu-shortcut {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      padding: 16px;
      font-size: 24px;
    }
  }
  
  /* Custom Variables */
  
  :root {
    --primary: #4caf50;
    --secondary: #00bcd4;
    --white: #fff;
    --dark: #212121;
    --gray: #9e9e9e;
    --light: #f5f5f5;
}

.botao_enviar {
    color: white;
    font-weight: 600;
    font-size: 14px;
    margin: 12px;
    padding: 14px 20px 14px 20px;
    border-radius: 20px;
    background: -webkit-linear-gradient(225deg,  #8257E6, #52057B,             
    transparent) 0% 0% / 300% 600%;
    background-size: 200% auto;
    -webkit-animation: gradient_move 3s ease infinite;
    animation: gradient_move 3s ease infinite;
  }

@-webkit-keyframes gradient_move {
    0%{background-position: 0% 92%}
    50%{background-position: 100% 9%}
    100%{background-position: 0% 92%}
  }
  
  @keyframes gradient_move {
    0%{background-position: 0% 92%}
    50%{background-position: 100% 9%}
    100%{background-position: 0% 92%}
  }

  #hero .menu-inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    min-height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }



/*casos de sucesso*/


#success-cases {
  padding: 96px 0;
}

#success-cases .row {
  justify-content: space-between;
}

#success-cases h2 {
  font-size: 40px;
  margin-bottom: 48px;
}

.success-card {
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease;
  width: 320px;
  margin: 0 auto;
}

.success-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-content {
  padding: 24px;
}

.card-content img {
  width: 100%;
  height: auto;
  min-height: 200px;  
  max-height: 200px;  
  object-fit: cover;  
}

.card-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

/* Botões de alternância */
button {
  padding: 10px 5px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.dark-theme button {
  color: #fff;
}

.light-theme button {
  color: #444;
  border: 1px solid #444;
}

:root {
  --primary: #4caf50;
  --secondary: #00bcd4;
  --white: whitesmoke;
  --dark: #212121;
  --gray: #9e9e9e;
  --light: #f5f5f5;
  --dark-bg: url(../assets/Fundo-693778f3.svg);
  --light-bg: whitesmoke; /* Assuming you have a different background for light theme */
}

.dark-theme {
  background: linear-gradient(112deg, #07090f 1.49%, #191c32 51.16%, #1b2339 99.03%);
  background-image: var(--dark-bg);
  background-clip: content-box;
  background-repeat: repeat-y;
  background-blend-mode: overlay, overlay, overlay;
  background-size: cover;
}

.light-theme {
  background: whitesmoke;
  background-image: var(--light-bg);
  background-clip: content-box;
  background-repeat: repeat-y;
  background-blend-mode: overlay, overlay, overlay;
  background-size: cover;
}

  .light-theme .hero-title {
    color: #13131F;
  }

  .light-theme .Menu-sobre{
    color: #13131F;;
  }

  .light-theme h2{
    color:#13131F;
  }

  .light-theme #services h2{
    color:#13131F;
  }

  .light-theme #services h3 {
    color: #13131F;;
  }

  .light-theme #services .card {
    background-color: whitesmoke;
  }

  .light-theme .container-sobre {
    background-color: whitesmoke;
  }

  .light-theme .menu-inicial .row .success-card{
    background-color: whitesmoke;
  }

  .light-theme #projects .card {
    background-color: whitesmoke;
  }

  .light-theme #projects h2 {
    color: #13131F;
  }

  .light-theme #projects h3 {
    color: #13131F;
  }

  .light-theme .success-card {
    background-color: whitesmoke;
  }


.light-theme  #navbar .nav-menu li a {
    color: #13131F;
  }
  
  .light-theme .hero-button {
    color: #13131F;
    background-color: whitesmoke;
  }
  
  .light-theme .hero-button:hover {
    background-color: #13131F;
    color: whitesmoke;
  }

  .light-theme #contact .send-button {
    color: #13131F;
    background-color: whitesmoke;
  }
  
  .light-theme #contact .send-button:hover {
    background-color: #13131F;
    color: whitesmoke;
  }

  .light-theme #footer {
    background-color: whitesmoke;
    color: #13131F;
    padding: 30px 0;
    font-size: 16px;
  }

  .light-theme .botao_enviar{
    color:whitesmoke;
  }

  .light-theme #contact .form-control{
    background-color: white;
  }

/* Scrollbar */

::-webkit-scrollbar-thumb {
  border-radius: 16px;
  border: none; 
}

html {
  scrollbar-width: thin;
  scrollbar-color: #13131F whitesmoke;
}

.light-theme #navbar {
  background: whitesmoke;
  color:#13131F;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 20px 0;
  justify-content: center;
}